<p id="notice"><%= notice %></p>
<h1>Listing Products</h1>
<%= link_to 'New Product', new_product_path %>
<div class="container">
  <% @products.each do |product| %>
  <div class="col-md-4">
    <ul>
      <!-- Trigger the modal with a button -->
      <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button></li>
      <br></br>
      <li><b>Name:</b> <%= product.name %></li>
      <li><b>Brand:</b> <%= product.brand %></li>
      <li><b>Model:</b> <%= product.model %></li>
      <li><b>Price:</b> <%= product.price %></li>
      <!-- <li><%= link_to 'Edit', edit_product_path(product) %></li>
      <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><a href="/cart/<%= product.id %>"> Add to Cart </a></li> -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= product.name %></h4>
            </div>
            <div class="modal-body">
              <p><b>Brand:</b> <%= product.brand %></p>
              <p><b>Model:</b> <%= product.model %></p>
              <p><b>Price:</b> <%= product.price %></p>
              <p><b>SKU:</b> <%= product.sku %></p>
              <p><b>DESC:</b> <%= product.desc %></p>
              <li><%= link_to 'Edit', edit_product_path(product) %></li>
              <li><%= link_to 'Delete Items', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li><a href="/cart/<%= product.id %>"> Add to Cart </a></li>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <!-- <li><b>Name:</b> <%= product.name %></li>
      <li><b>Brand:</b> <%= product.brand %></li>
      <li><b>Model:</b> <%= product.model %></li>
      <li><b>Price:</b> <%= product.price %></li>
      <li><b>SKU:</b> <%= product.sku %></li>
      <li><b>DESC:</b> <%= product.desc %></li>
      <li><%= link_to 'Show', product %></li>
      <li><%= link_to 'Edit', edit_product_path(product) %></li>
      <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><a href="/cart/<%= product.id %>"> Add to Cart </a></li> -->
    </ul>

  </div>
    <% end %>
</div>
